body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-bg{
  height: 300px;
  /* background-image: url(./img/bg.png); */
  background-size: cover;
  background-position: center;
}


.nav_link{
  color: rgba(0, 0, 0, 50%);
  text-decoration: none;
  padding: 0 10px;
  transition: color .2s ease-in-out;
}

.nav_link:hover{
  color: rgba(0, 0, 0, 70%);
}

.start{
  opacity: 0;
}

.end{
  
  opacity: 1;
  transition: opacity 0.5s;
}